.linkForm {
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
}

.picker {
    margin: auto;
    width: 50%;
    padding-top: 30px;
}

.inline {
    padding-left: 45px;
    display: inline-flex;
    flex-direction: row;
    justifyContent: 'center';
}

.middle {
    display: flex;
    justifyContent: center;
}